
<div class="container-fluid">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 col-10 bg-primary">
<h1>Welcome</h1>






    <h2>Name : <%=user.name%></h2>
    <h2> Email : <%=user.email%></h2>
    <h2> Number : <%=user.number %></h2>

</div>
</div>
</div>
</div>