
<div class="container-fluid">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 col-10 bg-primary">
<h1> Sign in</h1>
<form action="/users/create-session"  method="POST">
    <label class="ml-4" for="number"> Number : </label><br>
    <input class="ml-4" type="number" name="number" placeholder=" number" id="number" required><br>


    <label class="ml-4" for="password"> Password : </label><br>
    <input class="ml-4" type="password" name="password"  placeholder="password" required><br>
     
    <input class="ml-4 btn btn-danger mt-2" type="submit" value="sign in">

</form>
</div>
</div>
</div>
</div>